{% extends "base.html" %}

{% block content %}

<style>
    h4 {
        color: #000000;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    mark{
        background: #FFFFCC;
    }
    form{
        padding-bottom: 90%;
    }
</style>


<h4> <mark> Встроенный поиск по сайту: </mark> </h4>


<form method="get" action=".">

  {{ form.as_p }}

  <input type="submit" value="Search">

  {% if query %}

    <br>
    <br>
    <br>

    {% for result in page.object_list %}
        <p> <a href="{% url 'chapter' key=result.object.chapter_num %}">
           {{ result.object.chapter_num_txt }} {{ result.object.chapter_title }}
        </a> </p>
    {% empty %}
        <p> No results found. </p>
    {% endfor %}

  {% endif %}

</form>


{% endblock content %}
