/*
основной модуль css проекта in_one_lesson */


  .jumbotron {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    text-align:  center;
    padding: 0px;
    margin: 0;
  }
  .navbar {
      padding: 0px;
      margin: 0;
  }
   .col_2 {
      background: #ffffff;
      margin-top: 30px;
      word-wrap: normal;
      min-height: 100%;
  }
  .container {
      width: auto
  }
  .three_columns {
      font-size: 15px;
  }
  h1 {
    color: #ffffff;
  }
  row {
      height:100%;
  }
  body {
    background-color: #e6e6e6;
  }







/*-- тестовый код для проверки, подключился ли новый css-модуль

 * {
 color: red;
     }
 body {
 color: red;
     }

*/