{% load staticfiles %}
<!DOCTYPE html>

<html>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA_Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="3dce36263117df7d" />
  <link rel="stylesheet" href="{% static 'in_one_lesson/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'in_one_lesson/css/bootstrap-theme.css' %}">
  <style>
      .jumbotron {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height:	300px;
        text-align:  center;
        padding: 0px;
        margin: 0;
      }
      .navbar {
          padding: 0px;
          margin: 0;
      }
   </style>


  <title> David Bergland - Libertarianism in One Lesson </title>
</head>

<body style="background-color: #FFFFFF">
<!-- Верхнее меню навигации -->
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
         data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/./index"> Libertarianism in one lesson </a>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="nav-content">
    <!-- Отдельные элементы навигационного меню -->
      <ul class="nav navbar-nav">
        <li><a href="/./search"> Поиск по сайту </a></li>
        <li class="dropdown">
					        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Оглавление <b class="caret"></b></a>
					        <ul class="dropdown-menu">
					            <li><a href="/./chapters/1/"> Глава 1 </a></li>
					            <li><a href="/./chapters/2/"> Глава 2 </a></li>
					            <li><a href="/./chapters/3/"> Глава 3 </a></li>
					            <li><a href="/./chapters/4/"> Глава 4 </a></li>
					            <li><a href="/./chapters/5/"> Глава 5 </a></li>
					            <li><a href="/./chapters/6/"> Глава 6 </a></li>
					            <li><a href="/./chapters/7/"> Глава 7 </a></li>
					            <li><a href="/./chapters/8/"> Глава 8 </a></li>
					            <li><a href="/./chapters/9/"> Глава 9 </a></li>
					            <li><a href="/./chapters/10/"> Глава 10 </a></li>
					            <li><a href="/./chapters/11/"> Глава 11 </a></li>
					            <li><a href="/./chapters/12/"> Глава 12 </a></li>
					            <li><a href="/./chapters/13/"> Глава 13 </a></li>
					            <li><a href="/./chapters/14/"> Глава 14 </a></li>
					            <li><a href="/./chapters/15/"> Глава 15 </a></li>
					            <li><a href="#"> Заключение </a></li>
					            <li class="divider"></li>
					            <li><a href="/./about_bergland/"> О Бергланде </a></li>
					            <li><a href="/./libertarian_organisations/"> Либертарианские организации </a></li>
					        </ul>
					    </li>
        <li><a href="#"> Обо мне </a></li>
        <li><a href="http://libertarian-party.ru/"> Либертарианская партия</a></li>
    </ul>
   </div>
   <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</div>

<!-- верхняя секция с тематическим изображением -->
{% block jumbotron %}
{% endblock jumbotron %}



<!-- разметка на три колонки -->
  <div class="container">
    <div class="row">
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin-top: 50px ">

       <!-- БЛОК ОСНОВНОГО КОНТЕНТА СТРАНИЦЫ -->
       {% block content %}
       {% endblock content %}

      </div>
    </div>
  </div>


<!-- Подключение скриптов -->
    <script src="{% static 'in_one_lesson/js/jquery.js' %}"></script>
    <script src="{% static 'in_one_lesson/js/bootstrap.js' %}"></script>

 </body>

<!-- -->
</html>