<!-- вариант с блоком well -->


<!-- БЛОК ОСНОВНОГО КОНТЕНТА СТРАНИЦЫ -->
{% block content %}
{% endblock content %}

 <div class="container">
    <br>
    <div class="well">
      {% for chapter in chapters %}
    	  <a href="{%url 'chapter' key=chapter.chapter_num%}">{{chapter.chapter_num_txt|linebreaksbr}} {{ chapter.chapter_title |linebreaksbr}} </a>
      <br>
      <br>
      {% endfor %}
      <br>
    </div>
</div>


