
























































{% extends "base.html" %}

  {% block jumbotron %}

  <div class="jumbotron" style="background-image: url('/static/in_one_lesson/img/00_maimi.jpg')">
      <div class="container">
      <br>
      <h1> David Bergland </h1>
      <h1> Libertarianism in One Lesson </h1>
      </div>
      </div>
  {% endblock jumbotron %}


  {% block content %}

    <div class="container">
    {% for chapter in chapters %}
	  <a href="{%url 'chapter' key=chapter.chapter_num%}">{{chapter.chapter_num_txt|linebreaksbr}} {{ chapter.chapter_title |linebreaksbr}} </a>
	  <br>
    {% endfor %}
    </div>
  {% endblock content %}


word-wrap: normal | break-word

style="overflow: hidden; white-space: nowrap"

word-break: normal | break-all | keep-all


http://theory.phphtml.net/css/overflow-wrap.html
#elem {
	word-wrap: break-word;
	overflow-wrap: break-word;
	border: 1px solid red;
	width: 200px;
}

      .col_2 {
          background: #ffffff;
          word-break: break-all;
          word-wrap: break-word;
          white-space: normal;


      }


поменяйте на ссылках display: inline-block на inline
http://htmlbook.ru/CSS/display


