   <!--
   Кусок, создающий в шаблоне chapter.html под текстом главы таблицу с картинками
   и превью части текста следующих глав

   возникшие проблемы
    -- не успела сделатьи поюключить изображения-миниатюры
    -- текстовые главки не хотят ровно выравниваться по ширине внутри колонки

   -->



    <!-- панель превью других глав -->
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin-top: 70px">

              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#"> {{ch_one.chapter_title}} </a>
                    </h5>
                    <p class="card-text">{{ch_one.chapter_text|linebreaksbr|truncatechars:250 }}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Читать дальше... </small>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3 col-md-offset-1">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#"> {{ch_two.chapter_title}} </a>
                    </h5>
                    <p class="card-text"> {{ch_two.chapter_text|linebreaksbr|truncatechars:250 }} </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Читать дальше... </small>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3 col-md-offset-1">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#"> {{ch_three.chapter_title}} </a>
                  </h5>
                    <p class="card-text"> {{ch_three.chapter_text|linebreaksbr|truncatechars:250 }} </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Читать дальше... </small>
                  </div>
                </div>
              </div>
        </div>

    <!--/панель с превью других глав -->