{% extends "base.html" %}

{% block jumbotron %}

<style>
    h1 {
        font-weight: bold;
        margin-top: 90px;
    }
    .about_me {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    p{
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>


  <div class="jumbotron" style="background-image: url('/static/in_one_lesson/img/me_and_clown.jpg')">
    <div class="container">
      <div class="page-heading">
        <h1> Обо мне </h1>
      </div>
    </div>
  </div>


{% endblock jumbotron %}



{% block content %}

<div class="about_me">

  <p>Привет, гость.</p>

  <p>Меня зовут Аня, я учусь на программиста и увлекаюсь экономикой
и медициной.</p>

  <p>Лучше всего о моих интересах расскажет, наверно, мой фейбук: <a
  href="https://www.facebook.com/Alayna19"> https://www.facebook.com/Alayna19</a> </p>

  <p>Недавно я поняла, что я либертарианец -- и сделала по этому поводу вот этот сайт
с текстом книги Бергланда про вред от вмешательства государства в экономику
и частную жизнь граждан.</p>


  <p>Чтобы связаться со мной, пишите на kuznetsova.a23(эт)(джимэйл.ком)</p>

</div>

{% endblock content %}