{% extends "base.html" %}


{% block jumbotron %}

<style>
    p{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h1 {
        margin-top: 90px;
    }
</style>

  <div class="jumbotron" style="background-image: url('/static/in_one_lesson/img/bergland3.jpg')">
    <div class="container">
      <h1> Об авторе книги </h1>
    </div>
  </div>

{% endblock jumbotron %}



{% block content %}


<p> David Bergland has a unique talent for explaining how Libertarian principles
can be applied to real world problems. And he has spent a great deal of time
during the past decade doing that — first as the Libertarian Party's vice
presidential candidate in 1976, next as candidate for State Senate in California
in 1978, and again as a candidate for U. S. Senate from California in 1980. He
also served two terms as national chairman of the  Libertarian- Party from
1977-81.</p>

<p> Bergland won the 1984 Libertarian presidential nomination at the party's
national convention in New York City, where more than 2,000 people gathered to
participate in the continueed growth of this dynamic, new political party.</p>

<p> Bergland holds a bachelors degree in English and economics from the
University of California at Los Angeles( (UCLA) and a Juris Doctor degree from
the University of Southern California (U-SC) School of Law. He was Professor of
Law from 1970-1979 at Western State University College of Law in Fullerton,
California.</p>

<p> Bergland has three adult daughters and two grandchildren. He and his wife,
Sharon Ayres, reside Costa Mesa, California where he maintains a private law
practice, and pursues a career as a writer, lecturer and publisher.. </p>


{% endblock content %}