{% extends "base.html" %}

{% block content %}
<br>
<br>
<h5> Поиск глав по ключевым словам </h5>
<form  action="." method="get">
        {{ form.as_p }}
        <br>
        <input type="submit" value="Поиск">
    </div>
 </form>

<div>
<h2>
 Всего найдено постов: {{ total_results }}
</h2>
</div>



{% endblock content %}






<!--
  <form  action="." method="get">
    <div class="form-group">
        {{ form.as_p }}
        <input type="text" placeholder="Введите текст для поиска" class="form-control">
        <br>
        <button type="submit" class="btn"> Поиск </button>
    </div>
  </form>


-->

