{% extends "base.html" %}

{% block jumbotron %}
<style>

  body{
    background-color: #ffffff;
    text-align: left;
  }
  h1 {
      color: #ffffff;
  }
  A {
    color: #000000;
    text-align: left;
  }
  .chapters-container {
    font-size: 16px;
    padding-left: 25px;
  }
</style>

<div class="jumbotron" style="background-image: url('/static/in_one_lesson/img/00_maimi.jpg')">
  <div class="container">
    <br>
    <h1> David Bergland </h1>
    <h1> Libertarianism in One Lesson </h1>
  </div>
</div>

{% endblock jumbotron %}



{% block content %}

<div class="chapters-container">
  {% for chapter in chapters %}
    <i class="glyphicon glyphicon-chevron-right"> </i>
    <a href="{%url 'chapter' key=chapter.chapter_num%}">
    {%if chapter.chapter_num != 16 %}
      {{chapter.chapter_num_txt|linebreaksbr}} --
    {% endif%}
    {{ chapter.chapter_title |linebreaksbr}} </a>
    <br>
    <br>
  {% endfor %}
</div>

{% endblock content %}


