{% extends "base.html" %}

  {% block jumbotron %}

  <div class="jumbotron" style="background-image: url('/static/in_one_lesson/img/business_centre.jpg')">
      <div class="container">
      <br>
      <h1 style="color: #FFFFE0"> Appendix of libertarian oriented organizations </h1>
      </div>
      </div>
  {% endblock jumbotron %}


  {% block content %}

<div>
<ul>
    <li> Adam Smith Institute. 2 Orchard St., London, SWIP 3DQ, England, 01 -222 4995; 305 9th St. SE, Washington, DC 20003, (202) 544-8071. Educational and research institute. Publishes studies on privatization, deregulation and free market policy applications. </li>
    <br>
    <li> Advocates For Self-Govemment, Inc. 940 E. Bremer Ave., Fresno, CA  93728, (209) 441-1776. Educational institute. Organizes local chapters; offers conferences and programs encouraging people to encounter evaluate and embrace the ideas of liberty and improve communications; publishes Liberator newsletter. </li>
    <br>
    <li> Atlas Foundation. 220 Montgomery St., Suite 1063, San Francisco, CA 94104, (415) 392-2699. Educational foundation. Educates public on the principle that economic actions have economic consequences; publishes Highlights and Atlas Report; conducts seminars; provides funding for other free market organizations. </li>
    <br>
    <li> CATO Institute. 224 Second St. SE, Washington, DC 20003, (202) 546-0200. Public policy research foundation; publishes CA TO Journal, books, monographs and policy analysis material; conducts seminars, conferences and symposia.</li>
</ul>
</div>


  {% endblock content %}