{% extends "base.html" %}

  {% block jumbotron %}
  {% endblock jumbotron %}



  {% block content %}

<br>


<div class="container">
	<div class="row">
        <div class="col-sm-6">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Введите поисковый запрос" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>



<br>

<div class="page-header">
    <b> <u>
<span style="font-size:18px; color:#000000">
Результаты поиска по фразе
<span style="color: #008B8B">  "Bootstrap"  : </span>
    </b> </u>
</div>

<p>
  <span style="color:#008080">
    <strong>
      <span style="font-size:16px">Bootstrap &middot; The most popular HTML, CSS, and JS library in the ... </span>
    </strong>
  </span>
  <br />
     <span style="font-size:14px">
       <span style="color:#000000">Bootstrap. Build responsive, mobile-first projects on the web with the world&#39;s most popular front-end component library. Bootstrap is an open source toolkit for ... </span>
     </span>
  <br/>
      <span style="color:#808080">https://getbootstrap.com</span>
</p>

<p>
   <span style="color:#008080">
    <span style="font-size:16px">
    <strong>CSS &middot; Bootstrap</strong>
    </span>
    </span>
  <br/>
    <span style="font-size:14px">
    <span style="color:#000000">Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</span>
    </span>
  <br/>
    <span style="color:#808080">https://getbootstrap.com/docs/3.3/css/</span>
</p>

<p>
  <br/>
    <span style="color:#008080">
      <span style="font-size:16px">
        <strong>Bootstrap 3 Tutorial - W3Schools</strong>
      </span>
    </span>
  <br/>
    <span style="color:#000000">
      <span style="font-size:14px">Try it Yourself Examples. This Bootstrap tutorial contains hundreds of Bootstrap examples. With our online editor, you can edit the code, and click on a button to ...</span>
    </span>
  <br />
    <span style="color:#808080">https://www.w3schools.com/bootstrap/</span>
</p>




  {% endblock content %}